@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Spartan, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  background: #effafa;
}

button {
  padding: 1rem 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-family: inherit;
}

.main-header {
  height: 10vh;
  width: 100vw;
  background: #5ba4a4;
  background-image: url("../images/bg-header-desktop.svg");
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.tag-filter {
  cursor: pointer;
}

.search-bar {
  display: none;
}

.search-bar .tag-filter {
  margin-left: 1rem;
}

.search-bar.visible {
  width: 100%;
  border-radius: 1rem;
  padding-left: 2rem;
  background: white;
  -webkit-box-shadow: 0 1.25rem 1.5rem -0.7rem rgba(91, 164, 164, 0.65);
          box-shadow: 0 1.25rem 1.5rem -0.7rem rgba(91, 164, 164, 0.65);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7.5rem;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-185%);
          transform: translateY(-185%);
  -webkit-animation: slideIn 0.5s ease-in-out;
          animation: slideIn 0.5s ease-in-out;
}

.search-bar.visible > * {
  height: 100%;
}

.search-bar.visible .tag-filters {
  justify-self: flex-start;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-bar.visible .tag-filters .tag-filter {
  background: #effafa;
  border-radius: 3px;
  font-weight: 700;
  color: #5ba4a4;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4.5rem;
}

.search-bar.visible .tag-filters .tag-filter > * {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.search-bar.visible .tag-filters .tag-filter .filter-value {
  padding: 1rem 1.5rem;
}

.search-bar.visible .tag-filters .tag-filter .btn--remove-filter {
  background: #5ba4a4;
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
}

.search-bar.visible .tag-filters .tag-filter .btn--remove-filter:hover {
  background: #2c3a3a;
}

.search-bar.visible .btn--clear-search {
  justify-self: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main-container {
  width: 75%;
  margin: 0 auto;
  margin-top: 10rem;
  position: relative;
}

.job-container {
  width: 100%;
}
<<<<<<< HEAD

.job-listing-card {
  background: white;
  padding: 2.5rem;
  margin: 2.5rem 0;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.25rem 1.5rem -0.7rem rgba(91, 164, 164, 0.3);
          box-shadow: 0 1.25rem 1.5rem -0.7rem rgba(91, 164, 164, 0.3);
  height: 15rem;
}

.job-listing-card.featured {
  border-left: 5px solid #5ba4a4;
}

.job-listing-card__content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.job-listing-card__content__details {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.job-listing-card__content__details__job-info {
  margin-left: 2.5rem;
}

.job-listing-card__content__details__job-info__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.job-listing-card__content__details__job-info__header__company-name {
  font-weight: 700;
  color: #5ba4a4;
}

.job-listing-card__content__details__job-info__header__post-tags {
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.job-listing-card__content__details__job-info__header__post-tags > * {
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  text-align: center;
  border-radius: 200px;
  font-size: 1.2rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1rem;
  color: white;
}

.job-listing-card__content__details__job-info__header__post-tags .tag-new {
  background: #5ba4a4;
}

.job-listing-card__content__details__job-info__header__post-tags .tag-featured {
  background: #2c3a3a;
}

.job-listing-card__content__details__job-info__job-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.job-listing-card__content__details__job-info__job-title:hover {
  color: #5ba4a4;
}

.job-listing-card__content__details__job-info__post-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  color: #7b8e8e;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 1.4rem;
}

.job-listing-card__content__details__job-info__post-details li:not(:first-of-type) {
  margin-left: 2.5rem;
  position: relative;
}

.job-listing-card__content__details__job-info__post-details li:not(:first-of-type):before {
  content: '\2219';
  font-size: 1.6rem;
  padding-right: 1.6rem;
  font-weight: 700;
}

.job-listing-card__content__job-tags {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.job-tag {
  background: #effafa;
  padding: 1rem;
  border-radius: 3px;
  font-weight: 500;
  color: #5ba4a4;
  margin: 0 0.5rem;
  text-align: center;
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateY(-225%);
            transform: translateY(-225%);
  }
  100% {
    -webkit-transform: translateY(-185%);
            transform: translateY(-185%);
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateY(-225%);
            transform: translateY(-225%);
  }
  100% {
    -webkit-transform: translateY(-185%);
            transform: translateY(-185%);
  }
}
=======
>>>>>>> parent of 73316dd... Added background to card
/*# sourceMappingURL=style.css.map */